# Keil build files
MDK-ARM/rlsb/
MDK-ARM/*.dep
MDK-ARM/*.crf
MDK-ARM/*.d
MDK-ARM/*.o
MDK-ARM/*.lst
MDK-ARM/*.htm
MDK-ARM/*.lnp
MDK-ARM/*.map
MDK-ARM/*.axf
MDK-ARM/*.hex
MDK-ARM/*.sct
MDK-ARM/build_log.txt

# Debug config
MDK-ARM/DebugConfig/

# User specific
*.uvguix.*
*.uvoptx

# OS files
.DS_Store
Thumbs.db